<div class="center jumbotron">
    <h1>Welcome to Instagram</h1>
    
    <%= link_to "新規登録", signup_path,class:"btn btn-lg btn-primary" %>
    <%= link_to "ログイン",login_path,class:"btn btn-lg btn-primary" %>
    <%= link_to "Facebookでログイン",'#',class:"btn btn-lg btn-primary" %>
</div>


    <%= image_tag("instagram.png", alt: "Instagram logo") %>
