<h1>利用規約</h1>

<p>InstagramCloneへようこそ！</p>

<p>この利用規約は、InstagramCloneをご利用いただく際に適用されるものであり、
InstagramCloneサービスに関する情報を提供するものです。
InstagramCloneアカウントを作成する場合、またはInstagramCloneをご利用になる場合は、
本規約に同意していただくことになります。</p>
