@import "font-awesome-sprockets";
@import "font-awesome";

//// ミックスイン ////
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* header */
.menu-1 {
  margin-top: 10px;
  font-size: large;
}
.menu-1 a:hover {
  text-decoration: none;
  text-decoration-width: 1px;
}

// 上下幅
.fh5co-nav .top-menu {
  padding: 10px 0;
}

#logo {
  font-size: xxx-large;
}

#logo:hover {
  color: palevioletred;
  text-decoration: none;
}

// スマホ閲覧時、横棒三本をページ上部に固定
.fh5co-nav-toggle {
  position: fixed;
}

//// フッター ////
#fh5co-footer {
  margin-top: 3em;
  padding: 1em 0;
  border-top: 1px solid #eaeaea;
}

/* デバッグ情報*/
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

//// ページボディ部 ////
#fh5co-wireframe {
  padding-top: 7em;
  padding-bottom: 0;
}
#fh5co-about {
  padding: 0;
}
#fh5co-portfolio {
  padding: 0;
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  h3 {
    text-align: left;
  }
}

/* プロフィール画像*/
.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

/* フォローページ */
.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

/* ユーザー登録ページ */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 10px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* ユーザー一覧ページ */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* 料理新規投稿ページ */
#new_micropost {
  margin-top: 100px;
  #micropost_content {
    height: 150px;
  }
}

/* 料理一覧ページ */
.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
.user {
  margin-top: 5em;
  padding-top: 0;
  }
.content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
.timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
.gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
.glyphicon-heart {
  color: red;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}red

/* モーダルページ */
.modal-header {
  height: 100px;
  .close {
    font-size: 50px;
  }
}

//// プロフィールページ ////
.account-edit {
  margin-top: 20px;
}

.account-delete {
  margin-top: 10px;
}

/* プロフィール編集ページ */
.gender-field {
  display: flex;
  width: 20%;
}
